<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553596214791-5q9ssjk0ctjqnukjia88hmplke2rnqs3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553596214791-5q9ssjk0ctjqnukjia88hmplke2rnqs3</string>
	<key>API_KEY</key>
	<string>AIzaSyBPsEU0NWH-PjL3aYzxJWqhhZ8VV3O2Es4</string>
	<key>GCM_SENDER_ID</key>
	<string>553596214791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fireship.demoquiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-181d1</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-181d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553596214791:ios:c8317a68148f543af254a2</string>
</dict>
</plist>